html{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E2E9F1;
 }

 .container {
     max-width: 1400px;
     display: flex;
     justify-content: center;
     margin: 0 auto;
 }

 @import 'form';
